
# --- For-Bot-Working --------- #
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.21.zip 
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
# --- For-Web-Host ------- #
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
